@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";


html{
    font-size: 1rem;
}

.bg-navy-100{
    background-color: rgb(10 38 71 / 1);
}

.hover\:bg-navy-100:hover {
    background-color: rgb(10 38 71 / 1);
}

.border-navy-100{
    border-color: rgb(10 38 71);
}

.talert-success, .talert-error{
    width: 300px;
    right: 1%;
    top: 10%;
}

.slide-in {
    animation: slide-in 0.5s forwards;
    -webkit-animation: slide-in 0.5s forwards;
}

@keyframes slide-in {
    100% { transform: translateX(0%); }
}